.login{
  padding: 0 30px;
  .logo{
    text-align: center;
    padding: 60px 0 30px;
  }

  .form-group{
    .left{
      float: left;
    }
    .right{
      float: right;
      font-size: 17px;
      color: #016ee7;
    }
  }
  .adm-list-body{
    font-size: 16px;
  }

  .adm-list{
    border-radius: 5px;
    margin-bottom: 20px;
  }
  .adm-form-footer{
    padding: 0px !important;
  }
  .fas{
    margin: 0 6px;
    color: #016ee7;
    opacity: 0.5;
  }
}